.add-transaction-container
{
    background-color: rgb(238, 190, 100);
    border: 2px solid gray;
    width: 500px;
    display: block;
    height: auto;
   margin: auto;
   padding: 20px;
   border-radius: 10px;
   
}
.transaction-input
{
    display: block;
    justify-content: center;
    margin: 20px auto;
    width: 95%;
    padding: 10px;
    font-size: 20px;
}
.b
{
    width: 90%;
}
.btn
{
    display: block;
    margin: auto;
    font-size: 20px;
border-radius: 10px;
 background-color: rgb(230, 212, 158);
cursor: pointer;padding: 10px;
}