.logout
{
    position:fixed;
    top: 20px;
    right: 20px;
    font-size: 25px;
    color: red;
    cursor: pointer;
}

.logout:hover
{
   
   font-weight: bolder;
   
}
.user-greeting
{
    font-size: 30px;
    text-align: center;
  
}
.user-greeting-name
{
    font-size: 30px;
    text-align: center;
    color: tomato;
}
.heading
{
    font-size: 30px;
    text-align: center;
}

/* net balance */

.net-transactions-container
{
    display: flex;
    justify-content: space-around;
    font-size: 20px;
    .green 
    {
        background-color: #c4f9c1;
    }    
  
}

.net-transactions-value-item
{
    display: block;
    text-align: center;
    border: 2px solid gray;
    box-shadow: 5px 4px 4px 1px gray;
    padding: 20px;
    margin: 10px;
    width: 200px;
   
}
.net-transactions-value-title
{
    display: block;
    text-align: center;
}


.transaction-container
{
    max-height: 400px;
    overflow-y:scroll;
}

.green 
{
    background-color: #c4f9c1;
}

.red
{
    background-color: #ee6767;
}

.yellow
{
    background-color: #f0e478;
}
.add-img
{
    height: 70px;
    position: fixed;
    right: 30px;
    bottom: 50px;
}