.logout
{
    position:fixed;
    top: 20px;
    right: 20px;
    font-size: 25px;
    color: red;
    cursor: pointer;
}

.logout:hover
{
   
   font-weight: bolder;
   
}
.user-greeting
{
    font-size: 30px;
    text-align: center;
  
}
.user-greeting-name
{
    font-size: 30px;
    text-align: center;
    color: tomato;
}
.heading
{
    font-size: 30px;
    text-align: center;
}